body {
    background-image: url('../images/andromeda.jpg');
    background-size: cover;
}

.row {
    border: 1px solid yellow;
    margin-top: 100px;
}

main {
    border: 1px solid red;
    background-color: rgba(255,255,255,0.33);
}

h1, h2, p {
    color: white;
}